* {
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
}

img {
    display: block;
    width: 80px;
    margin: 20% auto;
    box-shadow: 0 5px 10px -7px #333333;
    border-radius: 50%;
}

.form {
    background-color: #ffffff;
    width: 500px;
    margin: 20% auto 10px auto;
    padding: 10%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px -3px #333;
    text-align: center;
}

